body{
    font-family: monospace;
    font-size: 18px;
}

input{
    display: block;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 17px;
}

.botao{
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 7px;
}

button[type="submit"]{
    background-color: #3CB371;
}

button[type="reset"]{
    background-color: #ec563b;
}

.button{
    color: white;
    background-color: #836FFF;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    width: 60px;
    font-size: 14px;
    margin-top: 7px;
}

#index{
    width: 40px;
}